body {
  background-color: #1B1B1B;
  font-family: 'Montserrat', sans-serif;
  color: #f7f7f7;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

 #warningModalLabel, #modal-info_btpr, #modal-info_backend_error {
  color: #1B1B1B
}

.noParagraphMargin {
  margin-bottom: 0;
}

.resultsHeader {
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.tabulator-tableHolder {
  background-color: #1B1B1B;
  color: #f7f7f7;
}

.tabulator-cell {
  background-color: #1B1B1B;
  color: #f7f7f7;
}

.tabulator-col-title {
  background-color: #1B1B1B;
  color: #f7f7f7;
}

.tabulator-col {
  background: #1B1B1B !important;
}

.textPrimary {
  color: #f7f7f7;
}

.backgroundPrimary {
  background-color: #1B1B1B;
}

.backgroundSecondary {
  background-color: #C0A95D;
}

.borderSecondary {
  border-color: #C0A95D;
}

.topright {
  height: 15vh;
}

hr {
    border-color: #C0A95D;
    border-width: 2px;
    margin-top: 64px;
    margin-bottom: 64px;
    
}

table, th, td {
  border: 1px solid black;
}

.graph {
    max-width:40%;
}

table {
    display: block;
    height: 600px;
    overflow-y: scroll;
}

/* Basic loading circle, copied from W3 */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.c_loader {
  margin: auto;
  padding: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.bordered {
  border-style: solid;
  padding: 4px;
}

.plot-container {
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
}