<!DOCTYPE html>

<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>F4A</title>

    <!-- These two have to be loaded first, otherwise tabulator or modals will break -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- TODO: set a favicon for the site probably -->
    <!--link rel="icon" type="image/FILE_EXT" href=""/-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='f4a.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tooltipster-master/dist/css/tooltipster.bundle.min.css') }}" />
    <link href="{{ url_for('static', filename='tabulator-master/dist/css/tabulator.min.css') }}" rel="stylesheet">
    <!-- Basically just a proof of concept to get styling to work on the tooltips -->
    <link href="{{ url_for('static', filename='tooltipster-master/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-punk.min.css') }}" rel='stylesheet' />

    <script type="text/javascript" src="{{ url_for('static', filename='tabulator-master/dist/js/tabulator.min.js')}}"></script>
    <script src="{{ url_for('static', filename='plotly-2.0.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='tooltipster-master/dist/js/tooltipster.bundle.min.js') }}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    
    <script>
        // Has to be *here* for some reason
        // MathJax_Preview necessary to make this work in chrome.
        MathJax = {
          tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            macros: {
                inf: "\\infty",
                lmbda: "\\lambda"
            }
          },
          svg: {
            fontCache: 'global'
          },
          styles: {
              '.MathJax_Preview': {
                  display: 'contents'
              }
          }
        };
    </script>
    <script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
</head>

<!-- NOTE: If needed, change function to a master JS function that calls showTable() and whatever else is needed -->
<body onload="startUp()">
    <br/>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-10'>
                <h1 class="pull-left"><u>Fairness For All (F4A)</u></h1>
                <div style="padding:0;" class="col-md-10">
                   {{ webtext_dict['intro'] | safe}}
                </div>
            </div>
            <div class='col-md-2'>
                <img style="float:right;" src="{{ url_for('static', filename='f4a_logo.png') }}" class="topright rounded-circle tooltipst">
            </div>
        </div>
    </div>

    <hr/>

    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-1'></div>
            <div class='col-md-2'>
                Select a data set:
                <br/>
                <form action='/dataSelect' method='POST'>
                    <select class="form-control" name='dataset' id="dataset">
                        <option disabled selected value>-- Select a value --</option>
                        {% for dataset in dataset_names %}
                            <option value="{{ dataset[1] }}">{{ dataset[0] }}</option>
                        {% endfor %}
                    </select>
                </form>
                <span id='sens_feature_info'></span>
            </div>

            <div class='col-md-8'>
                <div id='dataVisualizationTable'></div>
            </div>
        </div>

        <hr>

        <div class='row'>
            <div class='col-md-3'></div>
            <div class='col-md-1'>
                Select a learning method:
                <br/>
                <form action='/algSelect' method='POST'>
                    <select class="form-control" id='algorithm' name='algorithm'>
                        <option disabled selected value>-- Select a value --</option>
                        {% for alg in algorithm_names %}
                            <option value="{{ alg[0] }}">{{ alg[0] }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class='col-md-3'></div>
            <div class='col-md-1'>
                (Optional): Select a transformer:
                <br/>
                <form action='/transformerSelect' method='POST'>
                    <select class="form-control" id='transformer' name='transformer'>
                        <!--option disabled value>-- Select a value --</option-->
                        <option selected>None</option>
                        {% for trans in transformer_names %}
                            <option value="{{ trans[0] }}">{{ trans[0] }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </div>


    <div class='text-center' id='submitButton' style='padding-top: 2%;'>
        <form id='paramsInputs' name='paramsInputs' action='/runAlg' method='POST'>
            <p><b>Please note:</b> Once submitted, the process <i>may</i> take some time to
                complete. Even if you've seen the loading wheel for several minutes, the server is running your request.
                Please do not reload and resubmit until it's finished.</p>

            <div id='addLMParamsHere'></div>
            <div id='addTParamsHere'></div>

            <button id='runModel' name='runModel' type='submit' class='btn btn-success'>Submit</button>
        </form>
    </div>

    <hr id='belowSubmit' style="display:none;">

    <div style='display:none;' id='loading' class="c_loader loader"></div> 
    <!-- Is toggling display from none -> block the best strategy? -->
    <div id='results_div' style="display:none;" class='container-fluid'>
        
        <div class='row'>
            <div class='col-md-1'></div>
            <div class='col-md-10' id='results'>
                <span style="text-decoration: underline;"><h1 class='text-center'>Here are your results:</h1></span>
            </div>
            <div class='col-md-1'></div>
        </div>

        <div class='row'>
            <div class='col-md-1'></div>
            <div class='col-md-10'>
                <div class='text-center'>
                    <p>
                        <span class='bordered'>
                            <span id='accuracy'></span>
                            &nbsp; &nbsp;
                            <span id='sd'></span>
                            &nbsp; &nbsp;
                            <span id='eo' class='eo'></span>
                        </span>
                    </p>
                </div>
            </div>
            <div class='col-md-1'></div>
        </div>
 
        <div class='row'>
            <div class='col-md-1'></div>
            <div class='col-md-10' id='results'>
                <div class='plot-container'>
                    <div align='center' id='addPlotHere' name='addPlotHere'></div>
                </div>
            </div>
            <div class='col-md-1'></div>
        </div>

        <div class='row'>
            <div class='col-md-1'></div>
            <div class='col-md-10' id='results'>
                <div class='text-center'>
                    <h3 style='text-decoration: underline;'>Over 10 Runs, the average predictions are:</h3>
                    <p><span id='p_up'></span></p>
                    <p><span id='p_down'></span></p>
                    <p><span id='u_up'></span></p>
                    <p><span id='u_down'></span></p>
                </div>
            </div>
            <div class='col-md-1'></div>
        </div>
        <hr>
    </div>

    <div class="modal fade" id="warningModal_backend" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="warningModalLabel">Results Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body" id='modal-info_backend_error'></div>
            <div class="modal-footer">
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="warningModal_zero_positives" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="warningModalLabel">Results Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body" id='modal-info_zp'></div>
            <div class="modal-footer">
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="warningModal_bad_tpr" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="warningModalLabel">Results Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body" id='modal-info_btpr'></div>
            <div class="modal-footer">
            </div>
            </div>
        </div>
    </div>

    <!-- At some point try to add technical details that are initially collapsed -->
    <hr id='aboveTechDetails' style='display:none;'>
    <div id='techDetails' style='display:none;'> 

    </div>

    
    <!-- Added this so user can scroll to (more or less) center points of interest above -->
    <div style='padding-top: 100px;'></div>

    <script src="{{ url_for('static', filename='actions.js') }}"></script>
</body>

</html>
