<!DOCTYPE html>

<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>F4A</title>

    <!-- These two have to be loaded first, otherwise tabulator or modals will break -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <link rel="icon" type="image/FILE_EXT" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tooltipster-master/dist/css/tooltipster.bundle.min.css') }}" />
    <link href="{{ url_for('static', filename='tabulator-master/dist/css/tabulator_simple.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='f4a.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename='tabulator-master/dist/js/tabulator.min.js')}}"></script>
    <script src="{{ url_for('static', filename='plotly-2.0.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='tooltipster-master/dist/js/tooltipster.bundle.min.js') }}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    
    <script>
        // Has to be *here* for some reason
        // MathJax_Preview necessary to make this work in chrome.
        MathJax = {
          tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            macros: {
                inf: "\\infty",
                lmbda: "\\lambda"
            }
          },
          svg: {
            fontCache: 'global'
          },
          styles: {
              '.MathJax_Preview': {
                  display: 'contents'
              }
          }
        };
    </script>
    <script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
</head>

<!-- NOTE: If needed, change function to a master JS function that calls showTable() and whatever else is needed -->
<body onload="startUp()">
    <br/>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-10'>
                <div style='display:inline;'>
                    <span><h1 class="pull-left textPrimary" style='display:inline;'><u>Fairness For All (F4A)</u></h1></span>
                </div>
                <div style="padding:0;" class="col-md-10 textPrimary">
                   {{ webtext_dict['intro'] | safe}}
                </div>
            </div>
            <div class='col-md-2'>
                <img style="float:right;" title="Fairness for All: v{{ version }}" id='f4a_logo' src="{{ url_for('static', filename='f4a_logo.png') }}" class="topright rounded-circle tooltipst">
            </div>
        </div>
        <div class='row'>
            <div class='col-md-10'>
                <!-- Basic example adapted from https://getbootstrap.com/docs/4.0/components/collapse/ -->
                <div id="accordion">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            What is Machine Learning?
                          </button>
                        </h5>
                      </div>
                  
                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p><b>Disclaimer:</b>This isn't a perfect introduction to ML, and only briefly discusses the small portion the website touches.</p>
                            <p>
                                <u>Terminology</u>:
                                <ol>
                                    <li>Feature = attribute in a dataset, e.g. in student data, one example feature could be the student's GPA.</li>
                                    <li>Sensitive attribute/feature = feature that contains protected information, e.g. race, gender, education level, ...</li>
                                </ol> 
                            </p>
                            <p>
                                This website focuses primarily on two aspects of ML - <i>learning methods</i> and <i>embedding methods</i>. Learning methods seek
                                to find a pattern in the data, and often times we find it useful to make predictions on new, unseen data. The learning methods
                                this website is concerned with are called <i>classifiers</i> (specifically, supervised classifiers) - this means the data 
                                has all the outcomes recorded, and all the outcomes are essentially "Yes/No" answers. An example is a supervised classifier
                                trained on previous student data (such as age, attendance rate, GPA, with the outcome = Class Passed/Not Passed), then 
                                trying to predict if new students will pass based on their current age, attendance rate, and GPA. 
                            </p>
                            <p>
                                Embedding methods are more complicated, but very useful. In the previous example for learning methods, the dataset was small (3 features) - imagine modern
                                data, where we have dozens, hundreds, or even thousands of features like age, attendance rate, GPA, ... As the size of the data grows,
                                we run into a problem - it takes a long time to train a learning method, and they can get lost in the noise in the dataset. This is where
                                embedding methods come in - they reduce the size of the data by learning how to intelligently reduce the size of the data, while also keeping significant amounts of information.
                                This can make subsequent learning methods more accurate, fair, or at the very least less likely to fit noise in the data.
                            </p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Fairness Metrics
                          </button>
                        </h5>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <p>This website uses two metrics (measurements) of fairness - statistical disparity, and equalized odds.</p>
                            <p>
                                <u>Statistical Disparity (SD)</u>: SD measures the difference in positive predictions between classes. For example, 
                                if a learning method is making predictions on who should recieve a loan, the SD would be the percent of men who
                                recieved a loan MINUS the percent of women who recieved a loan. In a perfect world, this would be zero. However,
                                in any given finite dataset it's very unlikely to be zero. The more likely explanation is that the learning method
                                predicted little to no men or women should recieve loans at all. This metric does not comment on how fair the surrounding society/system is, and should not be utilized as such.
                            </p>
                            <p>
                                <u>Equalized Odds (EO)</u>: EO seeks to ensure balance in the <i>true positive rates</i> and <i>false positive rates</i> of groups.
                                This is best explained with an example - assume we are predicting people who should be hired, and the sensitive attribute is gender.
                                Equalized odds seeks to ensure that equal proportions of qualified men and qualified women are hired, while also making sure that
                                equal proportions of unqualified men are NOT hired and unqualified women are NOT hired. This is a more powerful metric than SD,
                                because even when there are less applicants from one group (e.g. less male applicants), then as long as equal proportions of 
                                qualified men and women are hired AND equal proportions of unqualified people between genders are NOT hired, then
                                the algorithm is deemed fair. This does metric does not comment on how fair the surrounding society/system is, and should not be utilized as such.
                                For more information, see <a href="https://ttic.uchicago.edu/~nati/Publications/HardtPriceSrebro2016.pdf" target='_blank'>Equality of Opportunity in Supervised Learning</a>.
                            </p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What makes F4A Unique?
                          </button>
                        </h5>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                F4A is unique primarily because it's one of the first interactive fair machine learning education tools available
                                (among similar tools made by <a href="https://cloud.google.com/blog/products/ai-machine-learning/building-ml-models-for-everyone-understanding-fairness-in-machine-learning" target='_blank'>Google</a> 
                                and <a href="https://aif360.res.ibm.com/" target='_blank'>IBM</a>).
                                It's also unique because all these models are being run in <i>real time</i>, and the results are being stored in a database. This means
                                that these computationally expensive operations only have to be run once <i>ever</i>, then the results are stored for future lookup! As a result,
                                each user that visits makes the site just a little bit faster for the next user that comes. This site is also open-source, and as such is always a work in progress.
                            </p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <hr/>

    <div class='container-fluid'>
        <div class="bottomright">
            <div>
                <em>Enable Dark Mode!</em>
            </div>
            <div class='theme-switch-wrapper'>
                <label class='theme-switch' for='dark-light-checkbox'>
                    <input type='checkbox' id='dark-light-checkbox' />
                    <div class='slider round'></div>
                </label>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-1'></div>
            <div class='col-md-2 textPrimary noWrap'>
                Select a data set:

                <br/>
                <form action='/dataSelect' style='width:auto;' method='POST'>
                    <select class="textPrimary backgroundPrimary form-control" name='dataset' id="dataset">
                        <option disabled selected value>-- Select a value --</option>
                        {% for dataset in dataset_names %}
                            <option value="{{ dataset[1] }}">{{ dataset[0] }}</option>
                        {% endfor %}
                    </select>
                </form>
                <span id='sens_feature_info'></span>
            </div>

            <div class='col-md-8'>
                <div class='table-bordered' id='dataVisualizationTable'></div>
            </div>
        </div>

        <hr>

        <div class='row'>
            <div class='col-md-2'></div>
            <div class='col-md-2 textPrimary'>
                <span class='noWrap' style='width:auto;'>Select a learning method:</span>
                <br/>
                <form action='/algSelect' style='width:auto;' method='POST'>
                    <select class="textPrimary backgroundPrimary form-control" id='algorithm' name='algorithm'>
                        <option disabled selected value>-- Select a value --</option>
                        {% for alg in algorithm_names %}
                            <option value="{{ alg[0] }}">{{ alg[0] }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class='col-md-2'></div>
            <div class='col-md-2 textPrimary'>
                <span class='noWrap' style='width:auto;'>(Optional): Select a transformer:</span>
                <br/>
                <form action='/transformerSelect' style='width:auto;' method='POST'>
                    <select class="textPrimary backgroundPrimary form-control" id='transformer' name='transformer'>
                        <option selected>None</option>
                        {% for trans in transformer_names %}
                            <option value="{{ trans[0] }}">{{ trans[0] }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </div>


    <div class='text-center' id='submitButton' style='padding-top: 2%;'>
        <form id='paramsInputs' name='paramsInputs' action='/runAlg' method='POST'>
            <p class='textPrimary'><b>Please note:</b> Once submitted, the process <i>may</i> take some time to
                complete. Even if you've seen the loading wheel for several minutes, the server is running your request.
                Please do not reload and resubmit until it's finished.</p>

            <div class='textPrimary' id='addLMParamsHere'></div>
            <div class='textPrimary' id='addTParamsHere'></div>

            <button id='runModel' name='runModel' type='submit' class='btn btn-success backgroundSecondary borderSecondary'>Submit</button>
        </form>
    </div>

    <hr id='belowSubmit' style="display:none;">

    <div style='display:none;' id='loading' class="c_loader loader"></div> 
    <!-- Is toggling display from none -> block the best strategy? -->
    <div id='results_div' style="display:none;" class='container-fluid'>
        
        <div class='row'>
            <div class='col-md-1'></div>
            <div class='col-md-10' id='results'>
                <span style="text-decoration: underline;"><h1 class='resultsHeader text-center'>Here are your results:</h1></span>
            </div>
            <div class='col-md-1'></div>
        </div>

        <div class='row'>
            <div class='col-md-1'></div>
            <div class='col-md-10'>
                <div class='text-center'>
                    <p>
                        <span class='bordered'>
                            <span id='accuracy'></span>
                            &nbsp; &nbsp;
                            <span class='statDisp' id='sd'></span>
                            &nbsp; &nbsp;
                            <span class='eqOdds' id='eo'></span>
                        </span>
                    </p>
                </div>
            </div>
            <div class='col-md-1'></div>
        </div>
 
        <div class='row'>
            <div class='col-md-1'></div>
            <div class='col-md-10' id='results'>
                <div class='plot-container'>
                    <div align='center' id='addPlotHere' name='addPlotHere'></div>
                </div>
            </div>
            <div class='col-md-1'></div>
        </div>

        <div class='row'>
            <div class='col-md-1'></div>
            <div class='col-md-10' id='results'>
                <div class='text-center'>
                    <h3 style='margin: 1rem 0; text-decoration: underline;'>Over 10 Runs, the average predictions are:</h3>
                    <p><span id='p_up'></span></p>
                    <p><span id='p_down'></span></p>
                    <p><span id='u_up'></span></p>
                    <p class=noParagraphMargin><span id='u_down'></span></p>
                </div>
            </div>
            <div class='col-md-1'></div>
        </div>
        <hr style='margin-bottom:10px;'>
    </div>

    <div class="modal fade" id="warningModal_backend" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="warningModalLabel">Results Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class='textPrimary'>&times;</span>
                    </button>
                </div>
            <div class="modal-body" id='modal-info_backend_error'></div>
            <div class="modal-footer">
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="warningModal_zero_positives" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="warningModalLabel">Results Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body" id='modal-info_zp'></div>
            <div class="modal-footer">
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="warningModal_bad_tpr" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="warningModalLabel">Results Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body" id='modal-info_btpr'></div>
            <div class="modal-footer">
            </div>
            </div>
        </div>
    </div>

    <!-- At some point try to add technical details that are initially collapsed -->
    <hr id='aboveTechDetails' style='display:none;'>
    <div id='techDetails' style='display:none;'> 

    </div>

    
    <!-- Added this so user can scroll to (more or less) center points of interest above -->
    <div style='padding-top: 75px;'></div>

    <script src="{{ url_for('static', filename='actions.js') }}"></script>
</body>

</html>
